 <div id="footerwrap">
    <div class="pull-right">
        <a href="http://facebook.com/mouvcoaching"><i class="fa fa-facebook"></i></a> | <a href="mailto:{{ site.email }}">MouvCoaching 2015</a>
    </div>
    <br>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
  <script id="dsq-count-scr" src="//mouvcoaching.disqus.com/count.js" async></script>

  <script src="{{ site.baseurl }}/assets/js/custom.js"></script>

</div>
